<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyintech.yuntai.module.cfg.dal.mysql.modulerelationfield.ModuleRelationFieldMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
     -->
    <select id="selectByModuleId" resultType="com.joyintech.yuntai.module.cfg.controller.admin.moduleinfo.vo.ModuleRelationField">
        select
            f.module_id as moduleId,
            f.module_table_id as moduleTableId,
            m.table_alias as moduleTableAlias,
            f.relation_module_table_id as relationMoudleTableId,
            m1.table_alias as relationMoudleAlias,
            f.relation_direction as relationDirection,
            f.field_id as fieldId,
            c.column_name as fieldName,
            c.column_comment as fieldComment,
            c1.column_name as relationFieldName,
            c1.column_comment as relationFieldComment,
            f.relation_field_id as relationFieldId
        from cfg_module_relation_field f
        left join cfg_module_table m on f.module_table_id = m.id
        left join cfg_module_table m1 on f.relation_module_table_id = m1.id
        left join cfg_column_definition c on m.table_id = c.table_id and f.field_id= c.id
        left join cfg_column_definition c1 on m1.table_id = c1.table_id and f.relation_field_id= c1.id
        where f.module_id = #{moduleId}
    </select>

    <select id="selectRelationFieldCache" resultType="com.joyintech.yuntai.module.cfg.controller.admin.lowcodeapi.vo.ModuleRelationFieldCache">
        select
            f.module_id as moduleId,
            f.module_table_id as moduleTableId,
            m.table_alias as moduleTableAlias,
            f.relation_module_table_id as relationMoudleTableId,
            m1.table_alias as relationMoudleAlias,
            f.relation_direction as relationDirection,
            f.field_id as fieldId,
            c.column_name as fieldName,
            c1.column_name as relationFieldName,
            f.relation_field_id as relationFieldId
        from cfg_module_relation_field f
        left join cfg_module_table m on f.module_table_id = m.id and m.deleted=0
        left join cfg_module_table m1 on f.relation_module_table_id = m1.id and m1.deleted=0
        left join cfg_column_definition c on m.table_id = c.table_id and f.field_id= c.id and c.deleted=0
        left join cfg_column_definition c1 on m1.table_id = c1.table_id and f.relation_field_id= c1.id and c1.deleted=0
        where f.deleted=0
        <if test="moduleId != null">
            and f.module_id = #{moduleId}
        </if>
        ORDER BY
            m.table_alias
    </select>


    <delete id="deleteByModuleId" >
        delete from cfg_module_relation_field where  module_id = #{moduleId}
    </delete>
</mapper>
